<h3 class="m-5">User List</h3>
<form class="m-5" #userFilterForm="ngForm">
    <div class="row mb-4">
        <div class="col-sm-3 form-group">
            <label for="id">ID:</label>
            <input type="text" class="form-control" id="id" name="id" placeholder="Filter from ID" 
            [(ngModel)]="filterSortData.filterInfo.id" #id="ngModel">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Filter from Name"
            [(ngModel)]="filterSortData.filterInfo.name" #name="ngModel">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Filter from Email"
            [(ngModel)]="filterSortData.filterInfo.email" #email="ngModel">
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-3 form-group">
            <label for="contactNumber">Contact Number:</label>
            <input type="tel" class="form-control" id="contactNumber" name="contactNumber" placeholder="Filter from Contact Number"
            [(ngModel)]="filterSortData.filterInfo.tel" #tel="ngModel">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 form-group">
            <label for="address">Address:</label>
            <input type="email" class="form-control" id="address" name="address" placeholder="Filter from Address"
            [(ngModel)]="filterSortData.filterInfo.address" #address="ngModel">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3 form-group">
            <label for="status">Status:</label>
            <select class="form-control" name="status" id="status" name="status" [(ngModel)]="filterSortData.filterInfo.status" #status="ngModel">
                <option value="null" disabled>Please select a status</option>
                <option value="active">Active</option>
                <option value="nonactive">Non-Active</option>
                <option value="lead">Lead</option>
            </select>
        </div>
        <div class="col-sm-1"></div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-3"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4 text-center">
            <button type="submit" class="btn btn-primary" (click)="clearFilterSortData();">
                Reset
            </button>
        </div>
        <div class="col-sm-4 text-center">
            <button type="submit" class="btn btn-primary" 
            [disabled]="!userFilterForm.dirty || (filterSortData.filterInfo.id == '' && 
                        filterSortData.filterInfo.name == '' && filterSortData.filterInfo.email == '' && 
                        filterSortData.filterInfo.tel == '' && filterSortData.filterInfo.address == '')"
            (click)="getUsers();">
                Filter
            </button>
        </div>
    </div>
</form>
<div class="m-5">
    <table class="table table-hover">
        <thead>
          <tr>
            <th (click)="handleSorting('id');" 
            (mouseenter)="handleTableHeaderHover('id', 'mouseenter');" (mouseleave)="handleTableHeaderHover('id', 'mouseleave');" 
            title="Click to sort by ID">ID 
                <i *ngIf="currentSortCol == 'id' && currentSortOrder == -1" class="fa-solid fa-angle-up"></i>
                <i *ngIf="(currentHoverElement == 'id' && currentSortCol != 'id') || (currentSortCol == 'id' && currentSortOrder == 1)" class="fa-solid fa-angle-down"></i>
            </th>
            <th (click)="handleSorting('name');" 
            (mouseenter)="handleTableHeaderHover('name', 'mouseenter');" (mouseleave)="handleTableHeaderHover('name', 'mouseleave');" 
            title="Click to sort by Name">Name 
                <i *ngIf="currentSortCol == 'name' && currentSortOrder == -1" class="fa-solid fa-angle-up"></i>
                <i *ngIf="(currentHoverElement == 'name' && currentSortCol != 'name') || (currentSortCol == 'name' && currentSortOrder == 1)" class="fa-solid fa-angle-down"></i>
            </th>
            <th (click)="handleSorting('email');" 
            (mouseenter)="handleTableHeaderHover('email', 'mouseenter');" (mouseleave)="handleTableHeaderHover('email', 'mouseleave');" 
            title="Click to sort by Email">Email 
                <i *ngIf="currentSortCol == 'email' && currentSortOrder == -1" class="fa-solid fa-angle-up"></i>
                <i *ngIf="(currentHoverElement == 'email' && currentSortCol != 'email') || (currentSortCol == 'email' && currentSortOrder == 1)" class="fa-solid fa-angle-down"></i>
            </th>
            <th (click)="handleSorting('tel');" 
            (mouseenter)="handleTableHeaderHover('tel', 'mouseenter');" (mouseleave)="handleTableHeaderHover('tel', 'mouseleave');" 
            title="Click to sort by Contact Number">Contact Number 
                <i *ngIf="currentSortCol == 'tel' && currentSortOrder == -1" class="fa-solid fa-angle-up"></i>
                <i *ngIf="(currentHoverElement == 'tel' && currentSortCol != 'tel') || (currentSortCol == 'tel' && currentSortOrder == 1)" class="fa-solid fa-angle-down"></i>
            </th>
            <th (click)="handleSorting('address');" 
            (mouseenter)="handleTableHeaderHover('address', 'mouseenter');" (mouseleave)="handleTableHeaderHover('address', 'mouseleave');" 
            title="Click to sort by Address">Address 
                <i *ngIf="currentSortCol == 'address' && currentSortOrder == -1" class="fa-solid fa-angle-up"></i>
                <i *ngIf="(currentHoverElement == 'address' && currentSortCol != 'address') || (currentSortCol == 'address' && currentSortOrder == 1)" class="fa-solid fa-angle-down"></i>
            </th>
            <th (click)="handleSorting('status');" 
            (mouseenter)="handleTableHeaderHover('status', 'mouseenter');" (mouseleave)="handleTableHeaderHover('status', 'mouseleave');" 
            title="Click to sort by Status">Status 
                <i *ngIf="currentSortCol == 'status' && currentSortOrder == -1" class="fa-solid fa-angle-up"></i>
                <i *ngIf="(currentHoverElement == 'status' && currentSortCol != 'status') || (currentSortCol == 'status' && currentSortOrder == 1)" class="fa-solid fa-angle-down"></i>
            </th>
            <th (click)="handleSorting('createdDateTime');" title="Click to reset sorted table">Created Date Time</th>
            <th (click)="handleSorting('actions');" title="Click to reset sorted table">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let user of users;">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.tel}}</td>
            <td>{{user.address}}</td>
            <td>{{user.status == 'active' ? "Active" : user.status == 'nonactive' ? "Non-Active" : "Lead"}}</td>
            <td>{{user.createdDateTime}}</td>
            <td>
                <button class="btn btn-primary me-4" title="View User Details" routerLink="/user-detail/{{user.id}}">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                </button>
                <button class="btn btn-primary" (click)="openModal(user.id, user.status);">
                    Change Status
                </button>
            </td>
          </tr>
        </tbody>
    </table>
</div>